<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
	<add key="UnixSocketFileName" value="/tmp/mod_mono_server"/>
	<add key="MonoApplications" value="/:." />
	<add key="MonoServerDefaultIndexFiles"
	     value="index.aspx, Default.aspx, default.aspx, index.html, index.htm" />
	<add key="DBProviderAssembly"
	     value="Npgsql" />
	<add key="DBConnectionType"
	     value="Npgsql.NpgsqlConnection" />
	<add key="DBConnectionString"
	     value="server=127.0.0.1;user id=monotest;password=monotest;dbname=monotest"/>
    </appSettings>
</configuration>

