<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!-- Enable this if you want gzip compression. Also uncomment the <mono.aspnet> section below
	<configSections>
	    <sectionGroup name="mono.aspnet">
		<section name="acceptEncoding" type="Mono.Http.Configuration.AcceptEncodingSectionHandler, Mono.Http, Version=1.0.5000.0, PublicKeyToken=0738eb9f132ed756"/>
	    </sectionGroup>
    </configSections>
-->
    <system.web>
        <customErrors mode="Off"/>
	<!--
	<webServices>
		<soapExtensionTypes>
			<add type="DumpExtension, extensions" priority="0" group="0" />
			<add type="EncryptExtension, extensions" priority="1" group="0" />
		</soapExtensionTypes>
	</webServices>
	-->
	<authentication mode="Forms">
		<forms name=".MONOAUTH" loginUrl="/1.1/authtest/login.aspx" />
	</authentication>

    	<httpModules>
	<!-- Some modules available in Mono.Http -->
	<!--
            <add name="AcceptEncodingModule" type="Mono.Http.Modules.AcceptEncodingModule, Mono.Http, Version=1.0.5000.0, PublicKeyToken=0738eb9f132ed756"/>
	-->
            <!--<add name="BasicAuthenticationModule"
	    	 type="Mono.Http.Modules.BasicAuthenticationModule, Mono.Http"/>-->
            <!--<add name="DigestAuthenticationModule"
	    	 type="Mono.Http.Modules.DigestAuthenticationModule, Mono.Http"/>-->
	</httpModules>
    </system.web>

<!-- If you use AcceptEncodingModule, you need this too
	
    <mono.aspnet>
        <acceptEncoding>
	    <add encoding="gzip" type="Mono.Http.GZipWriteFilter, Mono.Http, Version=1.0.5000.0, PublicKeyToken=0738eb9f132ed756" disabled="no" />
	</acceptEncoding>
    </mono.aspnet>
-->

    <appSettings>
<!--	<add key="MonoServerDefaultIndexFiles"
	     value="index.aspx, Default.aspx, default.aspx, index.html, index.htm" />
	<add key="DBProviderAssembly"
	     value="Npgsql"/>
	<add key="DBConnectionType"
	     value="Npgsql.NpgsqlConnection"/>
	<add key="DBConnectionString"
	     value="server=127.0.0.1;user id=monotest;password=monotest;dbname=monotest"/> -->
	<!--<add key="Authentication" value="Basic" />
	<add key="Basic.Users" value="basic-auth.txt" />-->
	<!--<add key="Authentication" value="Digest" />
	<add key="Digest.Users" value="basic-auth.txt" />-->
    </appSettings>
</configuration>

