<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="MonoServerPort" value="8080"/>
		<add key="MonoApplications" value="/:." />
		<!-- 	MonoServerVirtualDir
			MonoServerRootDir
			MonoServerAddress -->

		<!-- MonoServerDefaultIndexFiles is set in web.config -->
	</appSettings>
</configuration>

