# Windows
announce.exe
samp-npc.exe
samp-server.exe
/pawno
# Linux
announce
samp-npc
samp03svr

# Logs
crashinfo.txt
SampSharp_errors.log
server_log.txt

# Build directories
/gamemode/
/plugins/

# Config file
server.cfg