<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
	<add key="DBProviderAssembly"
	     value="Npgsql"/>
	<add key="DBConnectionType"
	     value="Npgsql.NpgsqlConnection"/>
	<add key="DBConnectionString"
	     value="SERVER=127.0.0.1;USER ID=monostate;PASSWORD=monostate;dbname=monostate"/>
    </appSettings>
</configuration>

