<%@ Master Language="C#"%>
<%@ Register TagPrefix="mono" TagName="MonoSamplesHeader" src="~/controls/MonoSamplesHeader.ascx" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Simple Master Page</title>
    <link rel="stylesheet" type="text/css" href="/mono-xsp.css">
</head>
<body bgcolor=black text=white>
<mono:MonoSamplesHeader runat="server"/>
    <form id="form1" runat="server">
	<span style="font-size:20px">
        <asp:contentplaceholder id="title" runat="server"></asp:contentplaceholder>
	</span>
	<table style="height:500px" width=80%><tr>
	<td width = 50px></td>
	<td style="background-color:white; color:black; padding:10px" valign="top" >
        <asp:contentplaceholder id="content" runat="server"></asp:contentplaceholder>
	</td>
	</tr></table>
	This a common page footer.
    </form>
</body>
</html>
