# Windows
announce.exe
samp-npc.exe
samp-server.exe
/pawno
# Linux
announce
samp-npc
samp03svr

# Logs
crashinfo.txt
SampSharp_errors.log
server_log.txt

# Mono
/mono/
/mono-2.0.dll

# Build directories
/gamemode/
/plugins/
/scriptfiles/
/npcmodes/

# Config file
server.cfg
