name: Plugin (win32)
on:
  push:
    branches: [ master ]
    paths:
      - .github/workflows
      - src/SampSharp/**
      - SampSharp.sln
  pull_request:
    branches: [ master ]
    paths:
      - .github/workflows
      - src/SampSharp/**
      - SampSharp.sln
jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup MSBuild.exe
        uses: microsoft/setup-msbuild@v1.0.2
        
      - name: Build plugin
        run: msbuild.exe SampSharp.sln /target:SampSharp -p:Configuration="Release"

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: plugin-bin
          path: bin/